@model Jabil.Pico.Common.ViewModels.TicketListVM 

@{
    ViewBag.Title = "Tickets History";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Tickets History</h1>
    </section>
    <div class="pico-detail">
        @using (Html.BeginForm("Find", "History"))
        {
            <div class="find-panel d-flex">
                <div class="col-md-3">
                    <div class="row">
                        <label for="fromDate" class="col-form-label col-md-3">From</label>
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.FindFromDate, new { htmlAtributes = new { @class = "datepicker" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label for="toDate" class="col-form-label col-md-2">To</label>
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.FindToDate, new { @class = "datepicker" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label for="machineName" class="col-form-label col-md-3">Machine</label>
                        <div class="col-md-8">
                            @Html.TextBox("FindMachineName")
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success float-end pico-button" value="Find">Find</button>
                </div>
            </div>
        }
    <div class="table-container">
        <label class="float-end">Total @Model.Tickets.Length records</label>
        <table aria-describedby="title" class="table table-bordered border-primary table-striped">
            <thead class="theadj">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">DateStop</th>
                    <th scope="col">Machine</th>
                    <th scope="col">Classification Id</th>
                    <th scope="col">New Start Time</th>
                    <th scope="col">Level</th>
                    <th scope="col">Part Number</th>
                    <th scope="col">Closed by</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Ticket in Model.Tickets)
                {
                    <tr>
                        <th scope="row">@Ticket.Id</th>
                        <td>@Ticket.DateStop</td>
                        <td>@Ticket.MachineName</td>
                        <td>@Ticket.ClassificationId</td>
                        @*<td>@(Ticket.NewStartTime.Year<2000?"":Ticket.NewStartTime)</td>*@
                        <td>@(Ticket.NewStartTime.HasValue && Ticket.NewStartTime.Value.Year < 2000 ? "" : Ticket.NewStartTime?.ToString())</td>
                        <td>@Ticket.Level</td>
                        <td>@Ticket.PartNumber</td>
                        <td>@Ticket.ClosedBy</td>
                        <td>@Ticket.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
</main>